<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBconnectionString" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS;Database=T4DDBMonitoring; User Id=sa;Password=Tr1mbl3;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Basic settings -->
    <add key="freezeScreen" value="No" />





    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />
  </appSettings>
</configuration>